
# common ignore
*.htm
*.html
*.jpg
# *.txt

#modelsim ignore
sim/

# quartus ignore
project/
greybox_tmp/
db/
incremental_db/
*.pof
*.sld
*.done
*.smsg
*.jdi
*.pin
*.qws
*.sof
*.rpt
*.summary
*.cdf
*stp
